# Docker container logs rotation
/var/lib/docker/containers/*/*.log {
    rotate 7
    daily
    compress
    missingok
    delaycompress
    copytruncate
    maxsize 50M
}

# fail2ban logs rotation
/var/log/fail2ban.log {
    weekly
    rotate 4
    compress
    missingok
    notifempty
    delaycompress
    postrotate
        /bin/systemctl reload fail2ban || true
    endscript
}
